global:
    scrape_interval: 15s
    evaluation_interval: 15s

scrape_configs:
    - job_name: 'prometheus'
      static_configs:
          - targets: ['localhost:9090']

    - job_name: 'alloy'
      static_configs:
          - targets: ['alloy:12345']
  - job_name: 'go-controller'
    static_configs:
      - targets: ['go-controller:8081']